@model List<Tapas.Web.ViewModels.Orders.OrdersViewModel>

@foreach (var item in Model)
{
    if (item.Status == "Unprocessed")
    {
        <li class="btn btn-danger btn-lg order-li" onclick="orderDetails(@item.Id)" id="li@(item.Id)" style="width:100%; margin-bottom:2px;">
            <h5>
                Поръчка: <strong id="orderId">@item.Id</strong>
            </h5>
        </li>
    }
    else if (item.Status == "Processed")
    {
        <li class="btn btn-warning btn-lg" onclick="orderDetails(@item.Id)" id="li@(item.Id)" style="width:100%; margin-bottom:2px;">
            <h5>
                Поръчка: <strong id="orderId">@item.Id</strong>
            </h5>
        </li>
    }
    else if (item.Status == "OnDelivery")
    {
        <li class="btn btn-success btn-lg" onclick="orderDetails(@item.Id)" id="li@(item.Id)" style="width:100%; margin-bottom:2px;">
            <h5>
                Поръчка: <strong id="orderId">@item.Id</strong>
            </h5>
        </li>
    }
    else if (item.Status == "Delivered")
    {
        <li class="btn btn-info btn-lg" onclick="orderDetails(@item.Id)" id="li@(item.Id)" style="width:100%; margin-bottom:2px;">
            <h5>
                Поръчка: <strong id="orderId">@item.Id</strong>
            </h5>
        </li>
    }

}