@model Tapas.Web.ViewModels.Administration.Sizes.ProductSizeInputModel

<div class="row">
    <div class="col-md-6">
        <div class="row form-group">
            <h4 class="col-md-6">@Html.LabelFor(x => x.SizeName, "Име на размера", new { @class = "control-label" })</h4>
            @Html.EditorFor(x => x.SizeName, ViewData["Title"].ToString(), "Name", new { htmlAttributes = new { @class = "col-md-6 form-control" } })
            <span asp-validation-for="SizeName" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class=" row form-group">
            <h4 class="col-md-6">@Html.LabelFor(x => x.Price, "Цена", new { @class = "control-label" })</h4>
            @Html.EditorFor(x => x.Price, ViewData["Title"].ToString(), "Price", new { htmlAttributes = new { @class = "col-md-6 form-control" } })
        </div>
    </div>
    <div class="col-md-6">
        <div class=" row form-group">
            <h4 class="col-md-6">@Html.LabelFor(x => x.Weight, "Грамаж", new { @class = "control-label" })</h4>
            @Html.EditorFor(x => x.Weight, ViewData["Title"].ToString(), "Weight", new { htmlAttributes = new { @class = "col-md-6 form-control" } })
        </div>
    </div>
    <div class="col-md-6">
        <div class="row form-group">
            <h4 class="col-md-6"> @Html.LabelFor(x => x.PackageId, "Опаковка", new { @class = "control-label" })</h4>
            <select class="col-md-6 form-control" asp-for="PackageId">
                @foreach (var package in Model.AvailablePackages)
                {
                    <option value="@package.Id">@package.Name</option>
                }
            </select>

        </div>
    </div>
    <div class="col-md-6">
        <div class="row form-group">
            <h4 class="col-md-10"> @Html.LabelFor(x => x.MaxProductsInPackage, "Максимален брой продукти в опаковка", new { @class = "control-label" })</h4>
            @Html.EditorFor(x => x.MaxProductsInPackage, ViewData["Title"].ToString(), "MaxProductsInPackage", new { htmlAttributes = new { @class = "col-md-2 form-control" } })

        </div>
    </div>
</div>
