@model Tapas.Web.ViewModels.Administration.Products.ProductInputViewModel
@using Tapas.Common
@{
    ViewData["Title"] = "Add";
}

<div><h1 class="text-center">Add Product</h1></div>


<hr />
<form enctype="multipart/form-data" asp-area="@GlobalConstants.AreaAdmin" asp-controller="Products" asp-action="Add">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input class="form-control" required asp-for="Price" type="text">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select class="form-control" asp-for="CategoryId">
                    @foreach (var item in Model.AvailableCategories)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="row form-group">
                @foreach (var item in Model.AvailableAllergens)
                {
                    <div class="col-md-4 checkbox">
                        <label>
                            <input type="checkbox"
                                   name="Allergens"
                                   value="@item.Id" /> @item.Name
                            </label>
                        </div>
                    }
            </div>
        </div>
    </div>
    <hr />
    <div class="row form-group justify-content-center">
        <label asp-for="Image" class="control-label justify-content-center"></label>
        <input type="file" class="form-control-file" asp-for="Image" />
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6 justify-content-center">
            <a asp-action="Index">Back to List</a>
        </div>
        <div class="col-md-6 form-group justify-content-center">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
