@model Tapas.Web.ViewModels.Administration.Products.EditProductModel
@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Редактирай продукта</h1>




<form enctype="multipart/form-data" asp-area="Administration" asp-controller="Products" asp-action="Edit" method="post">

    @Html.ValidationSummary(true)
    @Html.HiddenFor(x => x.Id, new { @class = "form-control" })
    @Html.HiddenFor(x => x.ImageUrl, new { @class = "form-control" })

    <hr class="hr-tapas" />
    <!--Name and Category-->
    <div class="row">
        <div class="form-group col-sm-6">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <h3>@Html.LabelFor(x => x.Name, "Продукт")</h3>
                </div>
                <div class="editor-field col-sm-6">
                    @Html.EditorFor(x => x.Name, "", "Name", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h3>@Html.LabelFor(model => model.CategoryId, "Категория", new { })</h3>
                </div>
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.CategoryId, Model.AvailableCategories, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-tapas" />
    <!--Allergens-->
    <div class="row form-group ">
        <div class="col-sm-3 text-center">
            <h3>@Html.LabelFor(x => x.Allergens, "Алергени")</h3>
        </div>
        <div class="col-sm-9 ">
            <div class="row">
                @for (var a = 0; a < Model.Allergens.Count; a++)
                {
                    <div class="col-sm-1 m-2">
                        <div class="row">
                            @Html.LabelFor(x => x.Allergens[a], Model.Allergens[a].Text)
                        </div>
                        <div class="row">
                            @Html.EditorFor(m => m.Allergens[a].Selected)
                            @Html.HiddenFor(m => m.Allergens[a].Text)
                            @Html.HiddenFor(m => m.Allergens[a].Value)
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
    <hr class="hr-tapas" />
    <!--Image and Description-->
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <img class="responsive" src="https://res.cloudinary.com/duxtyuzpy/image/upload/c_scale,h_235,w_350,f_auto/v1586767202/@Model.ImageUrl" width="350" height="235" alt="@Model.Name">
        </div>
        <div class="col-lg-4 col-md-6 form-group ">
            <h6>@Html.LabelFor(model => model.Image, "Нова снимка")</h6>
            @Html.EditorFor(model => model.Image, new { type = "file", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Image)
        </div>
        <div class="col-lg-4 col-md-6 form-group">
            <h6>@Html.LabelFor(x => x.Description, "Описание", new { @class = "control-label" })</h6>
            @Html.TextAreaFor(x => x.Description, 3, 50, new { @class = "form-control" })
        </div>
    </div>
    <hr class="hr-tapas" />
    <!--Sizes-->

    <ul id="list">
        @for (int i = 0; i < Model.Sizes.Count; i++)
        {
            <li class="row form-row" style="border-bottom:1px, solid, black" id="li@(i)">
                @Html.HiddenFor(x => Model.Sizes[i].SizeId, new { id=$"Sizes[{i}].SizeId" })
                <div class="col-md-6">
                    <div class="row form-group">
                        <h4 class="col-md-6">@Html.LabelFor(x => Model.Sizes[i].SizeName, $"Име на размер {i + 1}", new { @class = "control-label" })</h4>
                        @Html.EditorFor(x => Model.Sizes[i].SizeName, ViewData["Title"].ToString(), $"Sizes[{i}].SizeName", new { htmlAttributes = new { @class = "col-md-6 form-control" } })
                        <span asp-validation-for="@Model.Sizes[i].SizeName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" row form-group">
                        <h4 class="col-md-6">@Html.LabelFor(x => Model.Sizes[i].Price, "Цена", new { @class = "control-label" })</h4>
                        @Html.EditorFor(x => Model.Sizes[i].Price, ViewData["Title"].ToString(), $"Sizes[{i}].Price", new { htmlAttributes = new { @class = "col-md-6 form-control" } })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" row form-group">
                        <h4 class="col-md-6">@Html.LabelFor(x => Model.Sizes[i].Weight, "Грамаж", new { @class = "control-label" })</h4>
                        @Html.EditorFor(x => Model.Sizes[i].Weight, ViewData["Title"].ToString(), $"Sizes[{i}].Weight", new { htmlAttributes = new { @class = "col-md-6 form-control" } })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row form-group">
                        <h4 class="col-md-6"> @Html.LabelFor(x => Model.Sizes[i].PackageId, "Опаковка", new { @class = "control-label" })</h4>
                        <select class="col-md-6 form-control" asp-for="Sizes[i].PackageId">
                            @foreach (var package in Model.AvailablePackages)
                            {
                                <option value="@package.Id">@package.Name</option>
                            }
                        </select>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row form-group">
                        <h4 class="col-md-10"> @Html.LabelFor(x => Model.Sizes[i].MaxProductsInPackage, "Максимален брой продукти в опаковка", new { @class = "control-label" })</h4>
                        @Html.EditorFor(x => Model.Sizes[i].MaxProductsInPackage, ViewData["Title"].ToString(), $"Sizes[{i}].MaxProductsInPackage", new { htmlAttributes = new { @class = "col-md-2 form-control", @value = 1 } })

                    </div>
                </div>
                <div class="col-md-6 justify-content-center">
                    <div onclick="Remove(@Model.Sizes[i].SizeId, @i)" class="remove-button">Премахни</div>
                </div>
                <hr class="hr-tapas" />
            </li>

        }
    </ul>
    <!--Buttons-->
    <div class="col-md-6 form-group text-center">
        <button type="submit" class="btn btn-primary btn-lg active">Радактирай</button>
    </div>

</form>
<div class="row-col-md-6 text-center">
    <div class="btn btn-secondary btn-lg" onclick="GetIndex()">Добави размер</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/EditProduct.js" asp-append-version="true"></script>
}



