@model List<Tapas.Web.ViewModels.Administration.Products.DetailsProductViewModel>
@{
    Layout = "_AdminLayout";
    bool isDeleted = (bool)ViewData["IsDeleted"];
}

<h1 class="text-center">@ViewData["Title"] продукти</h1>

<hr class="hr-tapas" />
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
<hr class="hr-tapas" />

<div class="container bg-light">
    <table class="table">
        <thead>
            <tr class="row">
                <th class="col-sm-3">
                    @Html.Label("Име")
                </th>
                <th class="col-sm-3">
                    @Html.Label("Категория")
                </th>
                <th class="col-sm-3">
                    @Html.Label("Редактирай")
                </th>
                @if (isDeleted)
                {
                    <th class="col-sm-3">
                        @Html.Label("Активирай")
                    </th>
                }
                else
                {
                    <th class="col-sm-3">
                        @Html.Label("Изтрий")
                    </th>
                }
            </tr>
        </thead>
        <tbody id="myUL">
            @foreach (var item in Model)
            {
            <tr class="row">
                <td class="col-sm-3">
                    <h6>@Html.DisplayFor(x => item.Name)</h6>
                </td>
                <td class="col-sm-3">
                    @Html.DisplayFor(x => item.CategoryName)
                </td>
                <td class="col-sm-3">
                    <a class="btn btn-info btn-sm" href="/Administration/Products/Edit?productId=@item.Id">Редактирай</a>
                </td>
                @if (isDeleted)
                {
                    <td class="col-sm-3">
                        <a class="btn btn-danger btn-sm" href="/Administration/Products/Activate?productId=@item.Id">Активирай</a>
                    </td>
                }
                else
                {
                    <td class="col-sm-3">
                        <a class="btn btn-danger btn-sm" href="/Administration/Products/Delete?productId=@item.Id">Изтрий</a>
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts{
    <script src="~/js/menuProducts/getProducts.js"></script>
 }

@section Style{ 
    <link href="~/css/menuProducts/getProducts.css" rel="stylesheet" />
}