@model Tapas.Web.ViewModels.Administration.Products.ProductsIndexViewModel
@using Tapas.Common

<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4 text-center" style="color:#26A69A">@GlobalConstants.SystemName</h1>
            <div class="list-group">
                @foreach (var item in Model.Categories)
                {
                    <a asp-area="@GlobalConstants.AreaAdmin" asp-controller="Products" asp-action="GetProductsByCategory" asp-route-categoryId="@item.Id" class="btn btn-default list-group-item"><h3>@item.Name</h3></a>
                }
            </div>

        </div>

        <div class="col-lg-9">
            <div class="row" style="margin:0;">
                <img class="responsive" src="~/Images/tapas-masa s hrana.jpg" height="350" alt="Маса с храна">
            </div>
            <div class="row">
                @foreach (var product in Model.Products)
                {
                    <a class="carda btn col-lg-4 col-md-6 mb-4" href="~/ShopingCart/AddItem?productId=@product.Id">
                        <div class="card h-100">
                            <img class="card-img-top" src="https://res.cloudinary.com/duxtyuzpy/image/upload/c_scale,h_140,w_200/v1587540778/@(product.ImageUrl)" alt="@product.Name">
                            <div class="card-body">
                                <h4 class="name-holder text-center"> @product.Name </h4>
                                @if (product.IsOneSize)
                                {
                                    <h6>@product.Weight гр.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@product.Price лв.</h6>
                                }
                                else
                                {
                                    foreach (var size in product.Sizes)
                                    {
                                        <h6>@size.SizeName - @size.Price лв.</h6>
                                    }
                                }
                            </div>
                        </div>
                    </a>
                }

            </div>
        </div>
    </div>
</div>
@section Style{
    <link href="~/css/menuProducts/index.css" rel="stylesheet" />
 }


