@model Tapas.Web.ViewModels.Orders.OrderDetailsViewModel

@{
    Layout = null;
    var i = 1;
}

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <h4 style="width:50%;">Поръчка:</h4><h4 id="order">@Model.OrderId</h4>
        </div>
    </div>
    @if (Model.Status == OrderStatus.Unprocessed)
    {
        @if (true)
        {
            <div class="col-md-6" id="timer">
                <div id="minus1" onclick="minus()"><i class="btn material-icons" style="font-size:45px; padding:0; ">chevron_left</i></div>
                <input name="Quantity" id="theInput" type="text" size="4" class="form-control" title="Минути" value="40" min="30" step="5">
                <div id="minus1" onclick="plus()"><i class="btn material-icons" style="font-size:45px; padding:0;">chevron_right</i></div>
            </div>
        }
        else
        {
            @*delayed delivery time*@
        }
    }
    else
    {
        <div class="col-md-6">
            <div class="row">
                <h4 style="width:50%;">Доставка :</h4><h4>@Model.TimeForDelivery</h4>
            </div>
        </div>
    }
    <div class="col-md-6">
        <div class="row">
            <h4 style="width:50%;">Поръчана:</h4><h4 id="createdOn">@Model.CreatedOn</h4>
        </div>
    </div>

    @if (Model.Status == OrderStatus.Unprocessed)
    {
        <div class="col-md-6">
            <button type="button" class="btn btn-warning" onclick="changeStatus('@OrderStatus.Processed.ToString()')">Приеми поръчката</button>
        </div>
    }
    else if (Model.Status == OrderStatus.Processed)
    {
        <div class="col-md-6">
            <button type="button" class="btn btn-success" onclick="changeStatus('@OrderStatus.OnDelivery.ToString()')">Поръчката пътува</button>
        </div>
    }
    else if (Model.Status == OrderStatus.OnDelivery)
    {
        <div class="col-md-6">
            <button type="button" class="btn btn-info" onclick="changeStatus('@OrderStatus.Delivered.ToString()')">Поръчката доставена</button>
        </div>
    }
    else
    {
        <div class="col-md-6">
            <h4>Поръчката е доставена.</h4>
        </div>
    }

    <div class="col-md-6">
        <h4 style="width:50%;">Клиент: </h4><h4 id="userName">@Model.UserUserName</h4>
    </div>
    <div class="col-md-6">
        <h4 style="width:50%;">Телефон: </h4><h4 id="phone">@Model.UserPhone</h4>
    </div>

    <div class="col-md-6">
        <h4>Адрес: <span id="address">@Model.DisplayAddress</span></h4>
    </div>
    <div class="col-md-6">
        <div>
            <span>Допълнителна информация за адреса.</span><br/>
            <h6>@Html.DisplayFor(x => x.AddressInfo)</h6>
        </div>
        <div>
            <span>Допълнителна информация за поръчката.</span><br/>
           <h6>@Html.DisplayFor(x => x.AddInfo)</h6>
        </div>
    </div>
</div>
<hr />
<div class="bg-light">
    <table class="table">
        <thead>
            <tr class="row">
                <th class="col-md-1">
                    #
                </th>
                <th class="col-md-3">
                    @Html.Label("Продукт")
                </th>
                <th class="col-md-2">
                    @Html.Label("Количество")
                </th>
                <th class="col-md-2">
                    @Html.Label("Цена")
                </th>
                <th class="col-md-4">
                    @Html.Label("Изисквания")
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr class="row">
                    <td class="col-md-1">
                        @(i++)
                    </td>
                    <td class="col-md-3">
                        @Html.DisplayFor(x => item.ProductName)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(x => item.Quantity)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(x => item.ItemPrice)
                    </td>
                    <td class="col-md-4">
                        @Html.DisplayFor(x => item.Description)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr class="hr-tapas" />
    <div class="row">
        <h5 style="width:80%;">Опаковки</h5>
        <h5>@Model.PackagesPrice</h5>
    </div>
    <hr/>
    @if (Model.TotalPrice >= GlobalConstants.OrderPriceMin && Model.TotalPrice < GlobalConstants.MOPTCDF)
    {
        <div class="row">
            <h5 style="width:80%;">Ще ви бъде начислена сума за доставка!</h5>
            <a class="btn btn-secondary btn-sm" onclick="displayDeliveryTax()" style="color:white">Доставка</a>
            <button hidden data-toggle="modal" data-target="#deliveryTax" id="btnDeliveryTax"></button>
        </div>
        <hr />
    }
    <div class="row">
        <h4 style="width:80%;">@Html.Label("Общо за поръчката:")</h4> <h4>@Html.DisplayFor(x => x.TotalPrice) лв.</h4>
    </div>
</div>
<div class="modal fade" id="deliveryTax" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deliveryModalTitle" style="color:black">Цени за доставка</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                - 1 лев : Чародейка-Юг<br />
                - 2 лева : за града<br />
                - 4 лева : Източна Промишлена Зона, Западна Промишлена Зона, Долапи, Средна Кула<br />

            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" data-dismiss="modal" id="closeModal">Затвори</a>
            </div>
        </div>
    </div>
</div>
