@model Tapas.Web.ViewModels.Orders.OrderDetailsViewModel

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-4">
        <h4>Поръчка: <span id="order">@Model.OrderId</span></h4>
    </div>
    <div class="col-md-4" i>
        <h4>Поръчана: <span id="createdOn">@Model.CreatedOn</span></h4>
    </div>
    <div class="col-md-3">
        @Html.DropDownListFor(x => x.Status, Model.OrderStatus.Select(x => new SelectListItem() { Text = x.ToString(), Value = x.ToString(), Selected = x == Model.Status }), "Статус", new { @id = "statusValue", @class = "form-control", @onchange="changeStatus()" })
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-sm-6">
        <h4>Клиент: <span id="userName">@Model.UserUserName</span></h4>
    </div>
    <div class="col-sm-6">
        <h4>Телефон: <span id="phone">@Model.UserPhone</span></h4>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-8">
        <h4>Адрес: <span id="address">@Model.DisplayAddress</span></h4>
    </div>
    <div class="col-md-4">
        <span>Допълнителна информация за адреса.</span>
        @Html.TextBoxFor(x => x.AddInfo)
    </div>
</div>
<hr/>
@await Html.PartialAsync("_ShopingCartPartial", Model.CartItems) 