@model Tapas.Web.ViewModels.Orders.OrderDetailsViewModel

@{
    Layout = null;
    var i = 1;
}

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <h4 style="width:50%;">Поръчка:</h4><h4 id="order">@Model.OrderId</h4>
        </div>
    </div>
    @if (Model.Status == OrderStatus.Unprocessed)
    {
        @if (true)
        {
            <div class="col-md-6" id="timer">
                <div id="minus1" onclick="minus()"><i class="btn material-icons" style="font-size:45px; padding:0; ">chevron_left</i></div>
                <input name="Quantity" id="theInput" type="text" size="4" class="form-control" title="Минути" value="40" min="30" step="5">
                <div id="minus1" onclick="plus()"><i class="btn material-icons" style="font-size:45px; padding:0;">chevron_right</i></div>
            </div>
        }
        else
        {
            @*delayed delivery time*@
        }
    }
    else
    {
        <div class="col-md-6">
            <div class="row">
                <h4 style="width:50%;">Доставка :</h4><h4>@Model.TimeForDelivery</h4>
            </div>
        </div>
    }
    <div class="col-md-6">
        <div class="row">
            <h4 style="width:50%;">Поръчана:</h4><h4 id="createdOn">@Model.CreatedOn</h4>
        </div>
    </div>

    @if (Model.Status == OrderStatus.Unprocessed)
    {
        <div class="col-md-6">
            <button type="button" class="btn btn-warning" onclick="changeStatus('@OrderStatus.Processed.ToString()')">Приеми поръчката</button>
        </div>
    }
    else if (Model.Status == OrderStatus.Processed)
    {
        <div class="col-md-6">
            <button type="button" class="btn btn-success" onclick="changeStatus('@OrderStatus.OnDelivery.ToString()')">Поръчката пътува</button>
        </div>
    }
    else if (Model.Status == OrderStatus.OnDelivery)
    {
        <div class="col-md-6">
            <button type="button" class="btn btn-info" onclick="changeStatus('@OrderStatus.Delivered.ToString()')">Поръчката доставена</button>
        </div>
    }
    else
    {
        <div class="col-md-6">
            <h4>Поръчката е доставена.</h4>
        </div>
    }

    <div class="col-md-6">
        <h4>Клиент: <span id="userName">@Model.UserUserName</span></h4>
    </div>
    <div class="col-md-6">
        <h4>Телефон: <span id="phone">@Model.UserPhone</span></h4>
    </div>

    <div class="col-md-6">
        <h4>Адрес: <span id="address">@Model.DisplayAddress</span></h4>
    </div>
    <div class="col-md-6">
        <span>Допълнителна информация за адреса.</span>
        @Html.DisplayFor(x => x.AddInfo)
    </div>
</div>
<hr />
<div class="bg-light">
    <table class="table">
        <thead>
            <tr class="row">
                <th class="col-md-1">
                    #
                </th>
                <th class="col-md-3">
                    @Html.Label("Продукт")
                </th>
                <th class="col-md-2">
                    @Html.Label("Количество")
                </th>
                <th class="col-md-2">
                    @Html.Label("Цена")
                </th>
                <th class="col-md-4">
                    @Html.Label("Изисквания")
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr class="row">
                    <td class="col-md-1">
                        @(i++)
                    </td>
                    <td class="col-md-3">
                        @Html.DisplayFor(x => item.ProductName)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(x => item.Quantity)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(x => item.ItemPrice)
                    </td>
                    <td class="col-md-4">
                        @Html.DisplayFor(x => item.Description)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr class="hr-tapas" />
    <div class="row">
        <h5 style="width:80%;">Опаковки</h5>
        <h5>@Model.PackagesPrice</h5>
    </div>
    <div class="row">
        <h5 style="width:80%;">Доставка</h5>
        <h5>@Model.DeliveryFee</h5>
    </div>
    <hr class="hr-tapas" />
    <div class="row">
        <h4 style="width:70%;">@Html.Label("Общо за поръчката:")</h4> <h4>@Html.DisplayFor(x => x.TotalPrice) лв.</h4>
        @*<h1 id="resp"></h1>*@
    </div>
</div>
