@model Tapas.Web.ViewModels.Orders.OrderDetailsViewModel

@{
    Layout = null;
    var i = 1;
}

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <h4 style="width:50%;">Поръчка:</h4><h4 id="order">@Model.OrderId</h4>
            </div>
        </div>

        @if (Model.Status == OrderStatus.Unprocessed)
        {
            @if (true)
            {
                <div class="col-md-6" id="timer">
                    <div id="minus1" onclick="minus()"><i class="btn material-icons" style="font-size:45px; padding:0; ">chevron_left</i></div>
                    <input name="Quantity" id="theInput" type="text" size="4" class="form-control" title="Минути" value="40" min="30" step="5">
                    <div id="minus1" onclick="plus()"><i class="btn material-icons" style="font-size:45px; padding:0;">chevron_right</i></div>
                </div>
            }
            else
            {
                @*delayed delivery time*@
            }
        }
        else
        {
            <div class="col-md-6">
                <div class="row">
                    <h4 style="width:50%;">Доставка :</h4><h4>@Model.TimeForDelivery</h4>
                </div>
            </div>
        }

        <div class="col-md-6">
            <div class="row">
                <h4 style="width:50%;">Поръчана:</h4><h4 id="createdOn">@Model.CreatedOn</h4>
            </div>
        </div>

        @if (Model.Status == OrderStatus.Unprocessed)
        {
            <div class="col-md-6">
                <button type="button" class="btn btn-warning" onclick="changeStatus('@OrderStatus.Processed.ToString()')">Приеми поръчката</button>
            </div>
        }
        else if (Model.Status == OrderStatus.Processed)
        {
            <div class="col-md-6">
                <button type="button" class="btn btn-success" onclick="changeStatus('@OrderStatus.OnDelivery.ToString()')">Поръчката пътува</button>
            </div>
        }
        else if (Model.Status == OrderStatus.OnDelivery)
        {
            <div class="col-md-6">
                <button type="button" class="btn btn-info" onclick="changeStatus('@OrderStatus.Delivered.ToString()')">Поръчката доставена</button>
            </div>
        }
        else
        {
            <div class="col-md-6">
                <h4>Поръчката е доставена.</h4>
            </div>
        }

        <div class="col-md-6">
            <div class="row"><h4 style="width:50%;">Клиент: </h4><h4 id="userName">@Model.UserUserName</h4></div>
        </div>

        @if (Model.Status == OrderStatus.Unprocessed && Model.TotalPrice < GlobalConstants.MOPTCDF)
        {
            <div class="col-md-6">
                @Html.Label("Цена за доставка")
                <select id="deliveryFee">
                    <option value="1,00">1.00</option>
                    <option value="2,00">2.00</option>
                    <option value="4,00">4.00</option>
                </select>
            </div>
        }

        <div class="col-md-6">
            <h4 style="width:50%;">Телефон: </h4><h4 id="phone">@Model.UserPhone</h4>
        </div>

        @if (true)
        {
            <div class="col-md-6">
                <a class="btn" href="#"><h4>Адрес: <span id="address">@Model.DisplayAddress</span></h4></a>
            </div>
        }

        <div class="col-md-6">
            <div>
                <span>Допълнителна информация за адреса.</span><br />
                <h6>@Html.DisplayFor(x => x.AddressInfo)</h6>
            </div>
            <div>
                <span>Допълнителна информация за поръчката.</span><br />
                <h6>@Html.DisplayFor(x => x.AddInfo)</h6>
            </div>
        </div>
    </div>
<hr class="hr-tapas" />

<table class="table bg-light">
    <thead>
        <tr class="row">
            <th class="col-md-1">
                №
            </th>
            <th class="col-md-3">
                @Html.DisplayName("Продукт")
            </th>
            <th class="col-md-1">
                @Html.DisplayName("Кол")
            </th>
            <th class="col-md-3">
                @Html.DisplayName("Добавки")
            </th>
            <th class="col-md-1">
                @Html.DisplayName("Цена")
            </th>
            <th class="col-md-3">
                @Html.DisplayName("Изискване")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItems)
        {
            <tr class="row">
                <td class="col-md-1">
                    <tda>@(i++)</tda>
                </td>
                <td class="col-md-3" id="name@(item.Id)">
                    <h5><tda>@Html.DisplayFor(x => item.ProductName)</tda></h5>
                    @if (item.Size.SizeName != null)
                    {
                        <tda>@item.Size.SizeName</tda>
                    }

                </td>
                <td class="col-md-1">
                    <tda>@Html.DisplayFor(x => item.Quantity)</tda>
                </td>
                <td class="col-md-3">
                    @foreach (var extra in item.Extras)
                    {
                        <tda class="row ml-0 ex-row">
                            <div>@extra.Quantity бр. @extra.Name</div>
                        </tda>
                    }
                </td>
                <td class="col-md-1">
                    <tda>@Html.DisplayFor(x => item.ItemPrice)</tda>
                </td>
                <td class="col-md-3">
                    <tda style="word-wrap: break-word">
                        @Html.DisplayFor(x => item.Description)
                    </tda>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr class="hr-tapas" />
<div class="row w-100">
    <h5 style="width:70%;">Опаковки</h5>
    <h5>@Model.PackagesPrice лв.</h5>
</div>

<div class="row w-100">
    <h4 style="width:70%;">@Html.Label("Общо за поръчката:")</h4> <h4>@Html.DisplayFor(x => x.TotalPrice) лв.</h4>
</div>
<div class="modal fade" id="deliveryTax" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deliveryModalTitle" style="color:black">Цени за доставка</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                - 1 лев : Чародейка-Юг<br />
                - 2 лева : за града<br />
                - 4 лева : Източна Промишлена Зона, Западна Промишлена Зона, Долапи, Средна Кула<br />

            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" data-dismiss="modal" id="closeModal">Затвори</a>
            </div>
        </div>
    </div>
</div>
