@model List<Tapas.Web.ViewModels.Orders.OrdersViewModel>

<h1 class="text-center">Поръчките на @ViewData["Title"]</h1>
<hr class="hr-tapas" />
<div class="row">
    <div class="row">
        <ul class="col-md-2" id="listOrders">
            @foreach (var item in Model)
            {
                if (item.Status == "Unprocessed")
                {
                    <li class="btn btn-danger btn-lg order-li" onclick="orderDetails(@item.Id)" id="li@(item.Id)" style="width:100%;">
                        <h5>
                           <strong>Поръчка: @item.Id</strong>
                        </h5>
                    </li>
                }
                else if (item.Status == "Processed")
                {
                    <li class="btn btn-warning btn-lg" onclick="orderDetails(@item.Id)" id="li@(item.Id)" style="width:100%;">
                        <h5>
                            <strong>Поръчка: @item.Id</strong>
                        </h5>
                    </li>
                }
                else if (item.Status == "OnDelivery")
                {
                    <li class="btn btn-success btn-lg" onclick="orderDetails(@item.Id)" id="li@(item.Id)" style="width:100%;">
                        <h5>
                           <strong>Поръчка: @item.Id</strong>
                        </h5>
                    </li>
                }
                else if (item.Status == "Delivered")
                {
                    <li class="btn btn-info btn-lg" onclick="orderDetails(@item.Id)" id="li@(item.Id)" style="width:100%;">
                        <h5>
                           <strong>Поръчка: @item.Id</strong>
                        </h5>
                    </li>
                }
            }
        </ul>
        <div class="col-md-10 bg-white" id="detailSection">

        </div>
    </div></div>
<hr class="hr-tapas" />
@section Scripts
{
    <script src="~/js/orders/ordersByUser.js"></script>
}
@section Style{ 
    <link href="~/css/orders/userOrders.css" rel="stylesheet" />
}
