@model Tapas.Web.ViewModels.Orders.UserOrderDetailsViewModel

@{
    Layout = null;
    var i = 1;
}

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <h5 style="width:50%;">Поръчана:</h5><h5 id="order">@Model.CreatedOn</h5>
        </div>

        <div class="row">
            <h5 style="width:50%;">Статус на поръчката:</h5><h5 id="status">@Html.DisplayFor(x => x.Status)</h5>
        </div>
        <div class="row">
            <h5 style="width:50%;">Доставка :</h5><h5>@Model.TimeForDelivery</h5>
        </div>
    </div>
    <div class="col-md-6 text-center" id="statusImg">
        @switch (Model.Status)
        {
            case OrderStatus.Unprocessed:
                <img src="~/Images/paper.png" width="128" height="128" />
                break;
            case OrderStatus.Processed:
                <img src="~/Images/cook.png" width="128" height="128" />
                break;
            case OrderStatus.OnDelivery:
                <img src="~/Images/deliveryTransport.png" width="128" height="128" />
                break;
            case OrderStatus.Delivered:
                <img src="~/Images/plate1.png" width="128" height="128" />
                break;
            default:
                break;
        }
    </div>
</div>
<hr/>
<div class="bg-light">

    <table class="table bg-light">
        <thead>
            <tr class="row">
                <th class="col-md-1">
                    №
                </th>
                <th class="col-md-3">
                    @Html.DisplayName("Продукт")
                </th>
                <th class="col-md-1">
                    @Html.DisplayName("Кол")
                </th>
                <th class="col-md-3">
                    @Html.DisplayName("Добавки")
                </th>
                <th class="col-md-1">
                    @Html.DisplayName("Цена")
                </th>
                <th class="col-md-3">
                    @Html.DisplayName("Изискване")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr class="row">
                    <td class="col-md-1">
                        <tda>@(i++)</tda>
                    </td>
                    <td class="col-md-3" id="name@(item.Id)">
                        <h5><tda>@Html.DisplayFor(x => item.ProductName)</tda></h5>
                        @if (item.Size.SizeName != null)
                        {
                            <tda>@item.Size.SizeName</tda>
                        }

                    </td>
                    <td class="col-md-1">
                        <tda>@Html.DisplayFor(x => item.Quantity)</tda>
                    </td>
                    <td class="col-md-3">
                        @foreach (var extra in item.Extras)
                        {
                            <tda class="row ml-0 ex-row">
                                <div>@extra.Quantity бр. @extra.Name</div>
                            </tda>
                        }
                    </td>
                    <td class="col-md-1">
                        <tda>@Html.DisplayFor(x => item.ItemPrice)</tda>
                    </td>
                    <td class="col-md-3">
                        <tda style="word-wrap: break-word">
                            @Html.DisplayFor(x => item.Description)
                        </tda>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr class="hr-tapas" />
    <div class="row">
        <h5 style="width:70%;">Опаковки</h5>
        <h5>@Model.PackagesPrice лв.</h5>
    </div>
    <hr />
    <div class="row">
        <h4 style="width:70%;">@Html.Label("Общо за поръчката:")</h4> <h4>@Html.DisplayFor(x => x.TotalPrice) лв.</h4>
    </div>

    @if (Model.TotalPrice >= GlobalConstants.OrderPriceMin && Model.TotalPrice < GlobalConstants.MOPTCDF)
    {
        <hr class="hr-tapas" />
        <div class="row">
            <h5 style="width:70%;">Ще ви бъде начислена сума за доставка!</h5>
            <a class="btn btn-secondary btn-sm" onclick="displayDeliveryTax()" style="color:white; height:fit-content">Доставка</a>
            <button hidden data-toggle="modal" data-target="#deliveryTax" id="btnDeliveryTax"></button>
        </div>
    }


</div>
<div class="modal fade" id="deliveryTax" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deliveryModalTitle" style="color:black">Цени за доставка</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                - 1 лев : Чародейка-Юг<br />
                - 2 лева : за града<br />
                - 4 лева : Източна Промишлена Зона, Западна Промишлена Зона, Долапи, Средна Кула<br />

            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" data-dismiss="modal" id="closeModal">Затвори</a>
            </div>
        </div>
    </div>
</div>
