@model List<Tapas.Web.ViewModels.Orders.UserOrderViewModel>
@{
    ViewData["Title"] = "Моите поръчки";
}

<h1 class="text-center">Поръчки</h1>
<hr class="hr-tapas" />
<div class="row">
    <ul class="col-md-2" id="listOrders">
        @foreach (var item in Model)
        {
            if (item.Status == "Unprocessed")
            {
                <li class="btn btn-danger btn-lg order-li" onclick="orderDetails(@item.OrderId)" id="li@(item.OrderId)">
                    <h5>
                        <strong>@item.CreatedOn</strong>
                    </h5>
                </li>
            }
            else if (item.Status == "Processed")
            {
                <li class="btn btn-warning btn-lg" onclick="orderDetails(@item.OrderId)" id="li@(item.OrderId)">
                    <h5>
                        <strong>@item.CreatedOn</strong>
                    </h5>
                </li>
            }
            else if (item.Status == "OnDelivery")
            {
                <li class="btn btn-success btn-lg" onclick="orderDetails(@item.OrderId)" id="li@(item.OrderId)">
                    <h5>
                        <strong>@item.CreatedOn</strong>
                    </h5>
                </li>
            }
            else if (item.Status == "Delivered")
            {
                <li class="btn btn-info btn-lg" onclick="orderDetails(@item.OrderId)" id="li@(item.OrderId)">
                    <h5>
                        <strong>@item.CreatedOn</strong>
                    </h5>
                </li>
            }

        }
    </ul>
    <div class="col-md-10 bg-white" id="detailSection">
    </div>
</div>
<hr class="hr-tapas" />
<audio id="audio"><source src="~/Audio/bicycle1.mp3" type="audio/mpeg"></audio>

@section Scripts
{
    <script src="~/lib/@@microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/orders/userOrders.js" type="text/javascript"></script>
}
@section Style
{
    <link href="~/css/orders/userOrders.css" rel="stylesheet">
    <link href="~/css/shared/shopingCartTable.css" rel="stylesheet">
    @*<link href="~/css/orders/orderTable.css" rel="stylesheet" />*@
}
