@model Tapas.Web.ViewModels.Orders.UserOrderDetailsViewModel

@{
    Layout = null;
    var i = 1;
}

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <h5 style="width:50%;">Поръчана:</h5><h5 id="order">@Model.CreatedOn</h5>
        </div>

        <div class="row">
            <h5 style="width:50%;">Статус на поръчката:</h5><h5 id="status">@Html.DisplayFor(x => x.Status)</h5>
        </div>
        <div class="row">
            <h5 style="width:50%;">Доставка :</h5><h5>@Model.TimeForDelivery</h5>
        </div>
    </div>
    <div class="col-md-6 text-center" id="statusImg">
        @switch (Model.Status)
        {
            case OrderStatus.Unprocessed:
                <img src="~/Images/paper.png" width="128" height="128" />
                break;
            case OrderStatus.Processed:
                <img src="~/Images/cook.png" width="128" height="128" />
                break;
            case OrderStatus.OnDelivery:
                <img src="~/Images/deliveryTransport.png" width="128" height="128" />
                break;
            case OrderStatus.Delivered:
                <img src="~/Images/plate1.png" width="128" height="128" />
                break;
            default:
                break;
        }
    </div>
</div>
<hr />
<div class="bg-light">
    <table class="table">
        <thead>
            <tr class="row">
                <th class="col-md-1">
                    #
                </th>
                <th class="col-md-3">
                    @Html.Label("Продукт")
                </th>
                <th class="col-md-2">
                    @Html.Label("Количество")
                </th>
                <th class="col-md-2">
                    @Html.Label("Цена")
                </th>
                <th class="col-md-4">
                    @Html.Label("Изисквания")
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr class="row">
                    <td class="col-md-1">
                        <tda>@(i++)</tda>
                    </td>
                    <td class="col-md-3">
                        <tda>@item.ProductName</tda>
                    </td>
                    <td class="col-md-2">
                        <tda>@item.Quantity</tda>
                    </td>
                    <td class="col-md-2">
                        <tda>@item.ItemPrice</tda>
                    </td>
                    <td class="col-md-4">
                        <tda>@item.Description</tda>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr class="hr-tapas" />
    <div class="row">
        <h5 style="width:80%;">Опаковки</h5>
        <h5>@Model.PackagesPrice</h5>
    </div>
    <hr />
    @if (Model.TotalPrice >= GlobalConstants.OrderPriceMin && Model.TotalPrice < GlobalConstants.MOPTCDF)
    {
        <div class="row">
            <h5 style="width:80%;">Ще ви бъде начислена сума за доставка!</h5>
            <a class="btn btn-secondary btn-sm" onclick="displayDeliveryTax()" style="color:white">Доставка</a>
            <button hidden data-toggle="modal" data-target="#deliveryTax" id="btnDeliveryTax"></button>
        </div>
        <hr />
    }

    <div class="row">
        <h4 style="width:80%;">@Html.Label("Общо за поръчката:")</h4> <h4>@Html.DisplayFor(x => x.TotalPrice) лв.</h4>
    </div>
</div>
<div class="modal fade" id="deliveryTax" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deliveryModalTitle" style="color:black">Цени за доставка</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                - 1 лев : Чародейка-Юг<br />
                - 2 лева : за града<br />
                - 4 лева : Източна Промишлена Зона, Западна Промишлена Зона, Долапи, Средна Кула<br />

            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" data-dismiss="modal" id="closeModal">Затвори</a>
            </div>
        </div>
    </div>
</div>
