@model Tapas.Web.ViewModels.Administration.Sizes.ExtraSize

@{
    Layout = null;
    var i = Model.Index;
}
@Html.Hidden($"Sizes[{i}].SizeId", Model.SizeId)
@*@Html.HiddenFor(x => Model.SizeId, new { name = $"Sizes[{Model.Index}].SizeId" })*@
<div class="col-md-6">
    <div class="row form-group row-group">
        <h4 class="col-md-6">@Html.Label($"Име на размер {Model.Index + 1}")</h4>
        @Html.EditorFor(x => Model.SizeName, "", $"Sizes[{Model.Index}].SizeName", new { htmlAttributes = new { @class = "col-md-6 form-control" } })
        <span asp-validation-for="@Model.SizeName" class="text-danger"></span>
    </div>
</div>
<div class="col-md-6">
    <div class=" row form-group row-group">
        <h4 class="col-md-6">@Html.Label("Цена")</h4>
        @Html.EditorFor(x => Model.Price, "", $"Sizes[{Model.Index}].Price", new { htmlAttributes = new { @class = "col-md-6 form-control" } })
        <span asp-validation-for="@Model.Price" class="text-danger"></span>
    </div>
</div>
<div class="col-md-6">
    <div class=" row form-group row-group">
        <h4 class="col-md-6">@Html.Label("Грамаж")</h4>
        @Html.EditorFor(x => Model.Weight, "", $"Sizes[{Model.Index}].Weight", new { htmlAttributes = new { @class = "col-md-6 form-control", @type = "number" } })
        <span asp-validation-for=@Model.Weight class="text-danger" id=span@(i)></span>
    </div>
</div>
<div class="col-md-6">
    <div class="row form-group row-group">
        <h4 class="col-md-6"> @Html.Label("Опаковка")</h4>
        <select class="col-md-6 form-control" name="Sizes[@Model.Index].PackageId">
            @foreach (var package in Model.AvailablePackages)
            {
                <option value="@package.Id">@package.Name</option>
            }
        </select>

    </div>
</div>
<div class="col-md-6">
    <div class="row form-group row-group">
        <h4 class="col-md-10"> @Html.Label("Максимален брой продукти в опаковка")</h4>
        @Html.EditorFor(x => Model.MaxProductsInPackage, "", $"Sizes[{Model.Index}].MaxProductsInPackage", new { htmlAttributes = new { @class = "col-md-2 form-control", @value = "1", type = "number" } })
        <span asp-validation-for="@Model.MaxProductsInPackage" class="text-danger"></span>
    </div>
</div>
<div class="col-md-6">
    <div onclick="Remove(0, @Model.Index)" class="remove-button">Премахни</div>
</div>
<hr class="hr-tapas" />
