@model List<Tapas.Web.ViewModels.Administration.CateringEquipment.Deleted>
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Неактивно";
}

<h1 class="text-center">@ViewData["Title"] оборудване</h1>

<hr class="hr-tapas" />

<div class="container bg-light">
    <table class="table">
        <thead>
            <tr class="row">
                <th class="col-sm-4">
                    @Html.Label("Име")
                </th>
                <th class="col-sm-4">
                    @Html.Label("Цена")
                </th>
                <th class="col-sm-4">
                    @Html.Label("Активирай")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="row">
                    <td class="col-sm-4">
                        @Html.DisplayFor(x => item.Name)
                    </td>
                    <td class="col-sm-4">
                        @Html.DisplayFor(x => item.Price)
                    </td>
                    <td class="col-sm-4">
                        <a class="btn btn-danger btn-sm" href="/Administration/CateringEquipment/Activate?id=@item.Id">Активирай</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>