@model Tapas.Web.ViewModels.ShopingCart.AddItemViewModel
@{
    ViewData["Title"] = "Index";
    var i = 1;
    decimal price = 0.0m;
}


<div class="container">
    <!--AddedProduct-->
    <h1 class="text-center">Добави</h1>
    <hr class="hr-tapas" />
    <div class="row">
        <div class="col-md-4">
            <img class="responsive" src="https://res.cloudinary.com/duxtyuzpy/image/upload/c_scale,h_200,w_300/v1587540009/@(Model.Product.ImageUrl)" alt="@Model.Product.Name">
        </div>
        <div class="col-md-4 text-center mt-3">
            <h2>@Html.DisplayFor(x => x.Product.Name)</h2>
            <h5 id="sizeName"></h5>
            <div>@Html.DisplayFor(x => x.Product.Description)</div>
        </div>
        <div class="col-md-4">
            <h5 class="text-center">Алергени</h5>

            @if (Model.Product.Allergens.Count == 0)
            {
                <p class="text-center">Липсват данни за наличие<br /> на алергени.</p>
            }
            @foreach (var item in Model.Product.Allergens)
            {

                <div class="ml-5 pl-5">
                    <img src="https://res.cloudinary.com/duxtyuzpy/image/upload/c_scale,h_35,w_35/v1587540009/@(item.ImageUrl)" alt="@item.Name">
                    <span>@Html.Label(item.Name)</span>
                </div>
            }
        </div>
    </div>
    <hr class="hr-tapas" />
    <div class="container">
        <form asp-controller="ShopingCart" asp-action="AddItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.HiddenFor(x => x.Product.Id, new { @class = "form-control" })
                @Html.HiddenFor(x => x.ShopingCart.Id, new { @class = "form-control" })
            </div>
            @if (Model.Product.Sizes.Count != 1)
            {
                <div class="row" id="detailSection">
                    <h4 class="text-center col-md-3">Избери размер</h4>
                    @foreach (var item in Model.Product.Sizes)
                    {
                        <a class="btn btn-info blink ml-3" href="#" id="@item.SizeId" onclick="GetModel(@item.SizeId)">@item.SizeName</a>
                    }

                </div>
            }
            else
            {
                <div id="maxProducts" style="opacity:0">@Model.Product.Sizes[0].MaxProductsInPackage</div>
                <div class="row">

                    <input type="hidden" class="form-control" name="Product.Sizes[0].SizeId" value="@Model.Product.Sizes[0].SizeId" />
                    <div class="col-50 row">
                        <h4 style="width:50%;">@Html.Label("Цена")</h4>
                        <h4 id="productPrice">@Model.Product.Sizes[0].Price лв.</h4>
                    </div>
                    <div class="col-50 row">
                        <h4 style="width:50%;">@Html.Label("Тегло")</h4>
                        <h4>@Model.Product.Sizes[0].Weight гр.</h4>
                    </div>

                    <div class="col-50 row form-group ">
                        <h4 style="width:50%;">@Html.Label("Количество")</h4>
                        <div>
                            <div id="minus1" onclick="minus()"><i class="btn material-icons" style="font-size:45px; padding:0; ">chevron_left</i></div>
                            @*<a id="minus" class="btn" onclick="minus()">◀</a>*@
                            <input name="Quantity" id="theInput" type="text" size="4" class="form-control" title="Количество" value="1" min="1" step="1">
                            @*<a id="plus" class="btn" onclick="plus()">▶</a>*@
                            <div id="minus1" onclick="plus()"><i class="btn material-icons" style="font-size:45px; padding:0;">chevron_right</i></div>
                        </div>
                    </div>
                    <div class="col-50 row">
                        <h4 style="width:50%;">@Html.Label("Опаковка")</h4>
                        <h4 id="packagePrice">@Model.Product.Sizes[0].PackagePrice лв.</h4>
                    </div>

                    <div class="col-50 row">
                        <h4 style="width:50%;">@Html.Label("Междинна сума")</h4>
                        <h4 id="subTotal">@Model.Product.Sizes[0].SubTotal лв.</h4>
                    </div>
                    <div class="col-50 form-group">
                        <small>@Html.Label("Уточнения")</small>
                        @Html.TextAreaFor(x => x.Description, 2, 20, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="text-center" style="width:50%;">
                        <a class="btn btn-primary btn-lg" href="/Administration/Products/">Меню</a>
                    </div>
                    <div class="form-group text-center" style="width:50%;">
                        <button type="submit" class="btn btn-primary btn-lg">Добави</button>
                    </div>
                </div>
            }

        </form>
    </div>
</div>

@section Style{
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/addItem.css">
}

@section Scripts
{
    <script src="~/js/AddItem.js" type="text/javascript"></script>
}

