@model Tapas.Web.ViewModels.ShopingCart.ShopingCartViewModel
@{
    ViewData["Title"] = "Index";
    var i = 1;
}


<h1 class="text-center">Твоята количка</h1>
<hr class="hr-tapas" />
<table class="table">
    <thead>
        <tr class="row">
            <th class="col-sm-1">
                #
            </th>
            <th class="col-sm-3">
                @Html.DisplayName("Продукт")
            </th>
            <th class="col-sm-3">
                @Html.DisplayName("Количество")
            </th>
            <th class="col-sm-3">
                @Html.DisplayName("Цена")
            </th>
            <th class="col-sm-2">
                @Html.DisplayName("Actions")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShopingItems)
        {
            <tr class="row">
                <td class="col-sm-1">
                    @(i++)
                </td>
                <td class="col-sm-3">
                    @Html.DisplayFor(x => item.ProductName)
                </td>
                <td class="col-sm-3">
                    @Html.DisplayFor(x => item.Quantity)
                </td>
                <td class="col-sm-3">
                    @Html.DisplayFor(x => item.ItemPrice)
                </td>
                <td class="col-sm-2">
                    <a class="btn btn-danger btn-lg" href="/ShopingCart/DeleteProductItem?itemId=@item.Id&shopingCartId=@Model.Id">Изтрий</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr class="hr-tapas" />
<div class="row">
    <div class="col-md-8">
        <p>&#8270; Oпаковката е включена в цената!</p>
        @if (Model.TotalPrice < 10)
        {
            <p>&#8270; Поръчка под 10 лева заплаща 2 лева за доставка!</p>
        }
        else if (Model.TotalPrice < 25)
        {
            <p>&#8270; Поръчка над 25 лева получава подарък!</p>
        }
    </div>
    <div class="col-md-4">
        <h3>@Html.LabelFor(x => x.TotalPrice): @Html.DisplayFor(x => x.TotalPrice)</h3>
    </div>
</div>
<hr class="hr-tapas" />
<div class="row">
    <div class="col-md-4 text-center">
        <a class="btn btn-primary btn-lg" href="/">Към менюто</a>
    </div>
    <div class="col-md-4 text-center">
        <a class="btn btn-danger btn-lg" href="/ShopingCart/Clear?shopingCartId=@Model.Id">Към менюто</a>
    </div>
    <div class="col-md-4 text-center">
        <a class="btn btn-primary btn-lg" href="/Orders/Create">Поръчай</a>
    </div>
</div>
