@model Tapas.Web.ViewModels.ShopingCart.ShopingCartViewModel
@{
    ViewData["Title"] = "Количка";
    var i = 1;
}


<h1 class="text-center">Твоята количка</h1>
<hr class="hr-tapas" />
@if (Model.ShopingItems.Count == 0)
{
    <h4 class="text-center mt-5 mb-5">Количката е празна.</h4>
}
else
{
    <div class="bg-light">
        <table class="table">
            <thead>
                <tr class="row">
                    <th class="col-md-1">
                        #
                    </th>
                    <th class="col-md-3">
                        @Html.DisplayName("Продукт")
                    </th>
                    <th class="col-md-2">
                        @Html.DisplayName("Количество")
                    </th>
                    <th class="col-md-2">
                        @Html.DisplayName("Цена")
                    </th>
                    <th class="col-md-2">
                        @Html.DisplayName("Изискване")
                    </th>
                    <th class="col-md-2">
                        @Html.DisplayName("Actions")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShopingItems)
                {
                    <tr class="row">
                        <td class="col-md-1">
                            <tda>@(i++)</tda>
                        </td>
                        <td class="col-md-3" id="name@(item.Id)">
                            <tda>@Html.DisplayFor(x => item.ProductName)</tda>
                        </td>
                        <td class="col-md-2">
                            <tda>@Html.DisplayFor(x => item.Quantity)</tda>
                        </td>
                        <td class="col-md-2">
                            <tda>@Html.DisplayFor(x => item.ItemPrice)</tda>
                        </td>
                        <td class="col-md-2">
                            <tda>
                                <a class="btn btn-primary btn-sm" onclick="GetDescription(@item.Id)" style="color:white">Изискване</a>
                                <button hidden data-toggle="modal" data-target="#exampleModalCenter" id="button@(item.Id)"></button>
                            </tda>
                        </td>
                        <td class="col-md-2">
                            <tda><a class="btn btn-danger btn-sm" href="/ShopingCart/DeleteProductItem?itemId=@item.Id&shopingCartId=@Model.Id">Изтрий</a></tda>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <h5 style="width:80%;">Опаковки</h5>
        <h5>@Model.PackegesPrice лв.</h5>
    </div>
    @if (Model.TotalPrice < GlobalConstants.MOPTCDF)
    {
<div class="row">
    <h5 style="width:80%;">Ще ви бъде начислена сума за доставка!</h5>
    <a class="btn btn-secondary btn-sm" onclick="displayDeliveryTax()" style="color:white">Доставка</a>
    <button hidden data-toggle="modal" data-target="#deliveryTax" id="btnDeliveryTax"></button>
</div>
    }
    <hr class="hr-tapas" />
    <div class="row">
        @if (Model.TotalPrice < GlobalConstants.OrderPriceMin)
        {
        <p>&#8270; Минимална сума на поръчка @(GlobalConstants.OrderPriceMin.ToString("F0")) лева.</p>
        }
        else if (Model.TotalPrice < GlobalConstants.MOPTCDF)
        {
    <p>&#8270; Поръчка под @(GlobalConstants.MOPTCDF.ToString("F0")) лева заплаща доставка!</p>
        }
        else if (Model.TotalPrice < GlobalConstants.OrderPriceForBonus)
        {
    <p>&#8270; Поръчка над @(GlobalConstants.OrderPriceForBonus.ToString("F0")) лева получава подарък!</p>
        }
    </div>
    <div class="row">
        <h4 style="width:70%;">@Html.Label("Общо за поръчката:")</h4> <h4>@Html.DisplayFor(x => x.TotalPrice) лв.</h4>
    </div>
}

<hr class="hr-tapas" />
<div class="row">
    <div class="col-50 text-center">
        <a class="btn btn-primary btn-lg" href="/Administration/Products/">Към менюто</a>
    </div>
    @if (DateTime.Now.TimeOfDay > GlobalConstants.CloseTime || DateTime.Now.TimeOfDay < GlobalConstants.OpenTime)
    {
        <div class="col-50 text-center">
            <h3 style="color: #C82333">Затворено</h3>
        </div>
    }
    else
    {
        @if (Model.ShopingItems.Count != 0 && Model.TotalPrice >= 10)
        {
            <div class="col-50 text-center">
                <a class="btn btn-primary btn-lg" href="/Orders/Create">Поръчай</a>
            </div>
        }
    }


</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="color:black"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <span>Добави описание</span>
                        <div id="sciId" hidden></div>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary justify-content-start" data-dismiss="modal" id="closeModal" hidden>Затвори</a>
                <a class="btn btn-primary align-content-end" onclick="SetDescription()">Запази промените</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deliveryTax" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deliveryModalTitle" style="color:black">Цени за доставка</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
               - 1 лев : Чародейка-Юг<br />
               - 2 лева : за града<br />
               - 4 лева : Източна Промишлена Зона, Западна Промишлена Зона, Долапи, Средна Кула<br />

            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" data-dismiss="modal" id="closeModal">Затвори</a>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/ShopingCartIndex.js" type="text/javascript"></script>
}
@section Style{
    <link rel="stylesheet" type="text/css" href="~/css/shared/shopingCartTable.css">
}