@model Tapas.Web.ViewModels.Extras.Create

@{
    Layout = "~/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Extra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.EditorFor(x => Model.MistralCode, "MistralCode", "MistralCode", new { htmlAttributes = new { @hidden = true } })
            @Html.EditorFor(x => Model.MistralName, "MistralName", "MistralName", new { htmlAttributes = new { @hidden = true } })
            @Html.EditorFor(x => Model.Price, "Price", "Price", new { htmlAttributes = new { @hidden = true } })
            <div><span asp-validation-for="@Model.MistralCode" class="text-danger"></span></div>
            <div><span asp-validation-for="@Model.MistralName" class="text-danger"></span></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <div id="Price2" class="form-control"></div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div>
                <input class="mt-2" id="getMProduct" />
                <div class="btn" onclick="getProduct()" style="background-image: url('../../Images/search.png'); width:33px; height:33px;"></div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<button hidden data-toggle="modal" data-target="#deliveryTax" id="btnDeliveryTax"></button>
<div class="modal fade" id="deliveryTax" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deliveryModalTitle" style="color:black">Избери мистрал продукт</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul id="listProducts">
                </ul>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" data-dismiss="modal" id="closeModal">Затвори</a>
            </div>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
@section Scripts{ 
    <script src="~/js/Packages/add.js"></script>
}

